function Main.main 6
call Utils.splashScreen 0
pop temp 0
call Utils.userPrompt 0
pop local 4
push constant 0
push local 4
add
pop pointer 1
push that 0
pop local 0
push constant 1
push local 4
add
pop pointer 1
push that 0
pop local 1
push constant 2
push local 4
add
pop pointer 1
push that 0
pop local 3
push local 1
push constant 88
eq
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push constant 79
pop local 2
goto IF_END0
label IF_FALSE0
push constant 88
pop local 2
label IF_END0
call Board.new 0
pop local 5
push local 5
push local 3
push local 0
push local 1
push local 2
call Board.play 5
pop temp 0
push local 5
call Board.dispose 1
pop temp 0
push constant 0
return
